 <!-- Links -->
 <div class="">
    <div class="links">
        <a target="_blank" href="https://www.mineducacion.gov.co/portal/"><img src="../assets/images/mineducacion.png"
            alt="Mineducación" style="width: 170px; "></a>
        <a target="_blank" href="http://aprende.colombiaaprende.edu.co/cainicio"><img
            src="../assets/images/logo-minciencias.png" alt="Colaprende"
            style="margin-left: 8px; width: 170px; margin-top: 5px;"></a>
        <a target="_blank" href="http://aprende.colombiaaprende.edu.co/cainicio"><img
            src="../assets/images/aprendelogo_2.png" alt="Colaprende" style="margin-left: 5px; width: 165px;"></a>
        <a target="_blank" href="https://sedcauca.gov.co/"><img src="../assets/images/SECauca-logo.png" alt="Sedcauca"
            style="margin-left: 8px; width: 165px;"></a>
        <a target="_blank" href="https://portal.icetex.gov.co/Portal"><img src="../assets/images/log-icetex.png"
            alt="Icetex" style="margin-left: 8px; width: 165px; margin-top: 10px;"></a>
 </div>
 </div>
 
 