<mat-nav-list>
    <a target="_blank" href="https://www.microsoft.com/es-co/microsoft-365/onedrive/online-cloud-storage" mat-list-item >
        <span mat-line>Microsoft Onedrive</span>
        <span mat-line>Add to a note</span>
      </a>
      
      <a target="_blank" href="https://education.microsoft.com/es-419/resources" mat-list-item>
        <span mat-line>Microsoft Education</span>
        <span mat-line>Embed in a document</span>
      </a>
    
      <a target="_blank" href="https://www.microsoft.com/en-us/education/products/office" mat-list-item>
        <span mat-line>Microsoft Office 365</span>
        <span mat-line>Chat with your friends</span>
      </a>
    
      <a target="_blank" href="https://www.microsoft.com/es-co" mat-list-item>
        <span mat-line>Microsoft</span>
        <span mat-line>Go To Class</span>
      </a>
</mat-nav-list>