<div class="content" *ngIf="cont$ | async as cont; else loading">
    <mat-card class="post-card">
      <mat-card-content>
        <mat-card-header>
          <mat-card-title>{{ cont.tituloUp }} </mat-card-title>
        </mat-card-header>
        <img matCardImage [src]="cont.imageUp" />
        <p>
          {{ cont.contenidoUp }}
        </p>
        <a target="_blank" href="{{cont.imageUp}}">Descargar archivo</a>
      </mat-card-content>
      <mat-card-footer>
        <mat-chip-list>
          <mat-chip *ngFor="let tag of cont.tagUp" [ngClass]="tag">
            {{ tag }}
          </mat-chip>
        </mat-chip-list>
      </mat-card-footer>
    </mat-card>
  </div>
  <ng-template #loading>
    <div>
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>
  </ng-template>