<mat-nav-list>
    <a target="_blank" href="https://keep.google.com/" mat-list-item >
        <span mat-line>Google Keep</span>
        <span mat-line>Add to a note</span>
      </a>
      
      <a target="_blank" href="https://docs.google.com/" mat-list-item>
        <span mat-line>Google Docs</span>
        <span mat-line>Embed in a document</span>
      </a>
    
      <a target="_blank" href="https://meet.google.com/" mat-list-item>
        <span mat-line>Google Meet</span>
        <span mat-line>Chat with your friends</span>
      </a>
    
      <a target="_blamk" href="https://classroom.google.com/" mat-list-item>
        <span mat-line>Google Classrom</span>
        <span mat-line>Go To Class</span>
      </a>
</mat-nav-list>