<nav aria-label="Top-toolbar" class="docs-navbar-header">
  <img width="60" alt="Angular Logo" src="assets\images\sagradafamilia.png" />

  <a mat-button class="mat-focus-indicator docs-button mat-button mat-button-base" routerLink="/"
    routerLinkActive="active">
    <span style="font-size: 20px;" class="mat-button-wrapper">{{ appName }}</span>
  </a>
  <!--ENlaces-->

</nav>
<nav class="docs-navbar-header">
  <!--ENlaces-->
  <a mat-button
    class="mat-focus-indicator docs-navbar-hide-small docs-button mat-button mat-button-base ng-star-inserted"
    routerLink="/institucion" routerLinkActive="active">
    <span class="mat-button-wrapper">Institución</span>
    <div matripple class="mat-ripple mat-button-ripple"></div>
    <div class="mat-button-focus-overlay"></div>
  </a>

  <a mat-button
    class="mat-focus-indicator docs-navbar-hide-small docs-button mat-button mat-button-base ng-star-inserted"
    routerLink="/about" routerLinkActive="active" tabindex="0">
    <span class="mat-button-wrapper">Directivos</span>
    <div matripple class="mat-ripple mat-button-ripple"></div>
    <div class="mat-button-focus-overlay"></div>
  </a>

  <a mat-button
    class="mat-focus-indicator docs-navbar-hide-small docs-button mat-button mat-button-base ng-star-inserted"
    routerLink="/recursos" routerLinkActive="active">
    <span class="mat-button-wrapper">Aula Virtual</span>
    <div matripple class="mat-ripple mat-button-ripple"></div>
    <div class="mat-button-focus-overlay"></div>
  </a>
  <a mat-button
    class="mat-focus-indicator docs-navbar-hide-small docs-button mat-button mat-button-base ng-star-inserted"
    routerLink="inscripcion" routerLinkActive="active">
    <span class="mat-button-wrapper">Inscripciones</span>
    <div matripple class="mat-ripple mat-button-ripple"></div>
    <div class="mat-button-focus-overlay"></div>
  </a>
</nav>

<!--navSmall-->
<nav class="docs-navbar docs-navbar-show-small">
  <a class="mat-focus-indicator docs-navbar-link mat-button mat-button-base ng-star-inserted" routerLink="/institucion"
    routerLinkActive="active" aria-disabled="false" tabindex="0">
    <span class="mat-button-wrapper">Institución</span>
    <div matripple class="mat-ripple mat-button-ripple"></div>
    <div class="mat-button-focus-overlay"></div>
  </a>
  <a class="mat-focus-indicator docs-navbar-link mat-button mat-button-base ng-star-inserted" routerLink="/about"
    routerLinkActive="active" aria-disabled="false" tabindex="0">
    <span class="mat-button-wrapper">Directivos</span>
    <div matripple class="mat-ripple mat-button-ripple"></div>
    <div class="mat-button-focus-overlay"></div>
  </a>

  <a class="mat-focus-indicator docs-navbar-link mat-button mat-button-base ng-star-inserted" routerLink="/recursos"
    routerLinkActive="active" aria-disabled="false" tabindex="0">
    <span class="mat-button-wrapper">Aula Virtual</span>
    <div matripple class="mat-ripple mat-button-ripple"></div>
    <div class="mat-button-focus-overlay"></div>
  </a>
  <a class="mat-focus-indicator docs-navbar-link mat-button mat-button-base ng-star-inserted" routerLink="/"
    routerLinkActive="active" aria-disabled="false" tabindex="0">
    <span class="mat-button-wrapper">Inscripciones</span>
    <div matripple class="mat-ripple mat-button-ripple"></div>
    <div class="mat-button-focus-overlay"></div>
  </a>
</nav>