<div class="content" role="main">
    <!-- Resources -->
    <div class="carousel-inner">
        <img src="../../../../assets/images/sagradafamilia.png" class="d-block w-100" alt="...">
    </div>
    <div class="titulo-caja">
        <h1>INSTITUCIÓN</h1>
    </div>
    <div class="">
        <img width="100%" height="100%" src="assets/images/estudiantes.jpeg" alt="">
    </div>
    <br>
    <div class="titulo-caja">
        <h2>Filosofía</h2>
    </div>
    <div class="container">
        <p style="text-align: justify; font-size: 16px;">La Institución Educativa Sagrada Familia, de Caloto, Cauca, de
            naturaleza
            oficial y carácter mixto, funciona bajo
            la orientación de la comunidad de las Hijas de la Caridad de San Vicente de Paúl, con la intención de servir
            y
            enseñar el sentido evangélico y pedagógico del servicio, teniendo como fundamento legal las orientaciones
            emanadas del Ministerio de Educación Nacional MEN, como son : la Ley general 115/94, el decreto 1860, el
            código
            de la infancia, la adolescencia y la nueva Constitución Política.
            De acuerdo con la premisa anterior, esta Institución se rige por las enseñanzas de Jesucristo que la Iglesia
            difunde, especialmente, en su Doctrina Social, la cual es fundamento central para la continua formación y
            crecimiento de la comunidad educativa. En tal sentido, son principios rectores de la vida Institucional: el
            estudio permanente de la realidad para responder a las exigencias del entorno y la sociedad en general, la
            valoración de la diversidad étnica y cultural, la identificación de los miembros más vulnerables para su
            promoción y la definición temporal de un modelo pedagógico contemporáneo. Para hacer realidad sus
            propósitos, en
            la Institución Educativa se vivencian y difunden, de manera firme y constante, los siguientes valores: la
            solidaridad, la tolerancia al auto- reconocimiento, la disciplina del trabajo, la verdad, la voluntad de
            cambio
            y la competitividad del ser.
        </p>
    </div> <br>


    <div class="card-container">
        <a class="card" target="" rel="noopener" routerLink="/historia">
            <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path
                    d="M18 2H6c-1.1 0-2 .9-2 2v16c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2V4c0-1.1-.9-2-2-2zM6 4h5v8l-2.5-1.5L6 12V4zm0 15l3-3.86 2.14 2.58 3-3.86L18 19H6z" />

            </svg>

            <span>Reseña Historica</span>

            <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" /></svg> </a>

        <a class="card" target="" rel="noopener" routerLink="/simbolos">
            <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path d="M14.4 6L14 4H5v17h2v-7h5.6l.4 2h7V6z" />
            </svg>

            <span>Simbolos</span>

            <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" /></svg>
        </a>

        <a class="card" target="_blank" rel="noopener" routerLink="">
            <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">

                <path d="M15 15H3v2h12v-2zm0-8H3v2h12V7zM3 13h18v-2H3v2zm0 8h18v-2H3v2zM3 3v2h18V3H3z" />
            </svg>

            <span>Manual de convivencia</span>

            <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" /></svg>
        </a>

    </div>

    <!-- Next Steps -->
    <div class="titulo-caja">
        <h1>Nuestra visión del futuro.</h1>
    </div>

    <input type="hidden" #selection>

    <div class="card-container">
        <div class="card card-small" (click)="selection.value = 'component'" tabindex="0">
            <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" /></svg>

            <span>Misión</span>
        </div>

        <div class="card card-small" (click)="selection.value = 'material'" tabindex="0">
            <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" /></svg>

            <span>Visión</span>
        </div>

        <div class="card card-small" (click)="selection.value = 'pwa'" tabindex="0">
            <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" /></svg>

            <span>Himno</span>
        </div>
    </div>

    <!-- Terminal -->
    <div class="terminal" [ngSwitch]="selection.value">
        <pre *ngSwitchDefault>
MISIÓN:

La institución educativa Sagrada Familia de Caloto Cuaca, es un ente educativo oficial que 
brinda a los estudiantes una educación integral por competencias e incluyente, en los niveles
de Preescolar, Básica Primaria, Básica secundaria y Media con énfasis en comercio; también
ofrece una formación en valores fundamentada en los principios contenidos en su filosofía 
institucional, la legislación y las políticas educativas emanadas del Ministerio de Educación 
Nacional.                                                                   
Para el cumplimiento de la misión, la institución cuenta con personal directivo, docente 
y administrativo idóneo, consiente de la necesidad, que mediante la aplicación 
de un modelo pedagógico humanista,  se implementen prácticas y actividades flexibles, 
incorporando un currículo integrado desde la diversidad que  conlleve a permanecer abiertos 
de mente y corazón a las orientaciones  y  exigencias socioculturales, políticas, económicas,
ambientales, tecnológicas (TIC), laborales y religiosas con la participación  del padre de 
familia para que el estudiante se proyecte a la comunidad, acceda a las instituciones que 
ofrezcan educación superior y pueda desempeñarse ética, moral y profesionalmente.</pre>
        <pre *ngSwitchCase="'material'">VISIÓN:

Ser reconocida en el año 2019 a nivel municipal, departamental y nacional como una institución 
que ofrece servicios educativos de calidad formando personas con autodeterminación, 
conscientes de su proyecto de vida, doctos del sentido cristiano de la vida, donde se proyecte
la vida en todos los campos del saber.                                                
Ser una Institución Educativa formadora de personas de la más alta calidad con conocimientos 
apropiados que le sirvan para dar solución a los grandes problemas, necesidades y nuevas 
exigencias de la tecnología de la información y la comunicación (TIC) y de la sociedad.
</pre>
        <pre *ngSwitchCase="'pwa'"><p style="text-align: center;">
EL HIMNO DE LA INSTITUCIÓN:

CORO
Entonemos un himno ferviente
Con placer y en loor sin igual
Y la escuela grandiosa y fulgente
De Caloto emblema inmortal (bis)
    
1
En su nombre sagrado florece
la virtud, el saber e ideal,
caracteres que le dan encanto
a Caloto, tierra señorial.
Hogar que germina en esperanza
de una vida nueva y placentera
donde son los niños estudiantes
símbolo del deber y la raza.

2
Con sapiente fervor en los libros
vemos todos la dicha forjar
y esta casa “SAGRADA FAMILIA”
nos invita a jurar lealtad.
Maestra que brilló en el pasado
con genuinos destellos de amor
orgullosa se yergue en el tiempo
aun labrando los surcos del bien.
    
3
Ciencia y virtud es hoy nuestro lema
en abrazo fraterno cantemos
mil Honores al claustro bendito
    que su herencia suprema nos deja.
    Celebremos con gozo triunfante
    esta historia sin par de bondad
    donde a amar con encono se aprende
    las palabras: Dios, paz, libertad.
    
    4
    Somos savia fecunda que riega
    de ilusiones un mundo mejor;
    dicha y gloria la escuela nos brinda,
    ¡Compañeras seguras marchemos!
    Cual familia veraz Vicentina,
    lucharemos por el bien unidas
    ciñendo como espada la historia
    de Caloto, la gran ciudad “Fénix”.
    
    
    Letra y Música: Jesús Antonio Jordán Luna Caloto 1985
        </p>
    </pre>
    </div>


</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->