.table {
    column-count: 2;
}

.rigth {
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
    border: 1px solid #168a25;
    width: 100%;
    z-index: 0;
    text-align: center;
    transition: all 0.2s ease-in-out;
    margin: 1px;
    
}
.titulo-caja {
  border-bottom: 1.5px solid #ffa100;
  border-radius: 0.5em;
  font-size: 19px;
  padding-left: 3px;
  text-transform: uppercase;
  margin-bottom: 16px;
  background-color: #FFF;
}
.titulo-caja-all {
  border-left: 1.5px solid #ffa100;
  border-radius: 0.5em;
  font-size: 19px;
  padding-left: 3px;
  text-transform: uppercase;
  margin-bottom: 16px;
  background-color: #FFF;
}

.left{
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
    border: 1px solid #168a25;
    width: 100%;
    margin: auto;
    z-index: 0;
    text-align: center;
    transition: all 0.2s ease-in-out;
    margin: 1px;
}
.content {
    display: flex;
    margin: 200px auto 32px;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
}
.card-container .card:not(:last-child) {
    margin-right: 0;
  }
  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 16px;
  }
  .card-container .card:not(.highlight-card):hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
  }
