<div class="content" role="main">
    <!-- Highlight Card -->
    <br>
    <br>
    <mat-card>
        <mat-card-header>
            <mat-card-title>Reseña historica</mat-card-title>
            <mat-card-subtitle>Updated 26/07/2020</mat-card-subtitle>
        </mat-card-header>
        <img  matCardImage src="assets/images/caloto.jpg">
        <mat-card-content>
            <p
                style="text-align: justify; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; font-size: 18px; font: outline;">
                En 1885 se fundó una escuela oficial para niñas y en 1893 era dirigida por
                la institutora señorita CLEMENCIA VALENCIA, pero algunos padres de familia organizaron desde antes una
                escuela privada dirigida por la institutora VIRGINIA LOPEZ DE CASTILLO, presentándose discrepancia entre
                los dos establecimiento que se agravaron de pronto y dieron pie al párroco Pbro. TOMAS CAICEDO VIDAL
                para organizar una junta de padres de familia con el fin de traer a la ciudad un grupo de religiosas de
                la comunidad de San Vicente para que dirigiera la escuela pública oficial para niñas. Fue nombrado
                tesorero para recibir los fondos para este fin don PACIFICO GOMEZ, y se recolectaron fondos entre varios
                amigos de la idea, porque las diferencias entre los padres de familia que tenían sus hijas en las dos
                escuelas formaron dos grupos que con ímpetu defendían su obra, pero los graves hechos ocurridos
                unificaron a los padres de familia, después, alrededor del párroco que dio benéficos frutos para la
                ciudad. <br> <br>
                Con dineros reunidos se compraron unos terneros que el Pbro. CAICEDO engordó en sus potreros del gramal
                y el cantor y a los diez meses fueron vendidos y sobró dinero para la empresa. Se formalizó el contrato
                que se firmó entre el Concejo Municipal de Caloto representado por los señores WENCESLAO OTERO, RAFAEL
                BONILLA ESTELA, MANUEL MARIA SENDOYA FERNÁNDEZ, DEMETRIO HERRERA Y NICOLAS ARENA y el Pbro. TOMAS
                CAICEDO, cura párroco, y en representación de la Comunidad Vicentina, la Visitadora de las Hijas de la
                Caridad en Colombia, Sor MARIE DARDIGNAG, el director de dicha comunidad MONSICUR GEORGE REVELLIERE,
                delegados de la Superiora General Sor MARIE LAMARTINIE y del Superior General MONSIEUR ANTOINE PIAT. El
                contrato tiene fecha del 6 de enero de 1894 y en él aceptan los segundos la invitación que los primeros
                le hicieron para enviar a las RR. Hermanas de la Caridad para que representaran la escuela urbana de
                niñas en esta ciudad. El concejo y los padres de familia se comprometieron a dotarlas de local apropiado
                para ellas alojarse y para organizar la escuela, hacer los gastos de viaje, darle los útiles necesarios
                para la instalación y pagarles los sueldos. <br> <br>
                El 5 de marzo de 1894 eran recibidas con entusiasmo, con sinceridad, las RR. MM, Sor MARIA ANGULO, Sor
                JOSEFINA RIVERA GARRIDO y Sor VICENTA REBOLLEDO. Apenas se habían instalado cuando vino la guerra civil
                y tuvieron que correr a los hospitales organizados a curar las heridas de los que derramaron su sangre
                en defensa de la ciudad cuando en la guerra de los mil días. Se amenazó con extinguirla para siempre.
                Uno de los revolucionarios notificó a Sor ANGULO que debían de salir de la ciudad para no presenciar los
                sucesos de que iba a ser víctima la población, pero ésta en gesto noble y digno, exclamo: “Yo correré la
                misma suerte de los caloteños”. El general CASTILLO afortunadamente evitó exceso y atropellos. <br> <br>
                En 1901, quedó de superiora Sor JOSEFINA RIVERA Y GARRIDO, le sucedió en 1906 Sor MARIA JOSEFA SEYVE, a
                ésta la reemplazó el 14 de abril de 1914, Sor MARIA JOSEFA SAMBEL, y a ésta en 1926, Sor MARIA LUISA PAZ
                URRUTIA, después Sor MARIA JOSEFA SEYVE, Sor MARIA LUISA PAZ URRUTIA, en 1953, la sucedió Sor ELENA
                OSORIO, Sor CECILIA GIRALDO, Sor NHORA, Sor ELENA OCHOA. Tres fueron las fundadoras y después se aumentó
                el número para atender al hospital, al orfanato, a la escuela de niñas, a las organizaciones de caridad.
                Es necesario reconocer que Caloto debe eterna gratitud a JOSE MARIA HAYA, MARCELO HERRAN, LUCIANO
                AGUILAR, PACIFICO GOMEZ, ELADIO RUEDA VIDAL, CARLOS ANGEL TOVAR, RAFAEL F. JARAMILLO, PEDRO ALCANTARA
                MEDINA, etc., y a los concejales que en esa época auxiliaron poderosamente con contribuciones y con su
                persona al Pbro. TOMAS CAICEDO para instalar a esta comunidad religiosa en Caloto. Con mucha razón la
                junta de ornato y mejoras públicas formada por el Pbro. GUSTAVO E. VIVAS T, Dr. ESCIPION JARAMILLO P.
                Dr. LUIS ERASMO MOLINA, EUSTORGIO MARIN, FRANCISCO A. MEDINA B. MARIANO SENDOYA M, Sra. ELCIARIA BELTRÁN
                DE SANDOVAL Y señorita MERY VALENCIA, fijaron una placa de mármol, el 29 de junio de 1934, en el local
                de la escuela de niñas que dice: CALOTO al Pbro. TOMAS CAICEDO V benefactor de esta casa y sus
                fundadoras Sor MARIA ANGULO, Sor JOSEFINA RIVERA Y GARRIDO y Sor VICENTA REBOLLEDO. <br> <br>
                Ellas han aliviado los dolores de un pueblo arruinado por las persecuciones; ellas han enjuagado las
                lágrimas de los que lloran; ellas han llevado consuelo y resignación a los que sufren; ellas en recogido
                en su regazo a los desamparados, a las niñas para quienes sus padres ya no existen porque la implacable
                parca se los arrebató; y en fin, ellas han reemplazado los cariños, bondades y ternuras de las madres
                que protegen a sus hijos desde el cielo. Ellas como lo dijo chateaubrian son en la tierra “para el
                huérfano un padre, para el doliente un médico y para el ignorante un maestro”. <br> <br>
                En la escuela de las hermanas han recibido su formación muchas de las matronas de la localidad. La
                primera casa que ocuparon fue la del ángulo sureste de la plaza principal, de propiedad de PACIFICO
                GOMEZ, quien generosamente la cedió por muy módica mensualidad. El Pbro. CAICEDO V, procedió de acuerdo
                con el Concejo, y autoridades y vecinos a construir el local respectivo que año por año ha ido
                aumentándose y mejorándolo. Los contratistas de la obra fueron dos CARLOS ANGEL TOVAR y don RAFAEL F.
                JARAMILLO y el obrero don FELIX OROZCO, radicados en la ciudad. La junta del cuarto centenario en
                mosaico todo el local; el municipio en la administración de MARIANO SENDOYA M, repelló y enmalló media
                pared exterior de todo el edificio; el Departamento pavimentó el patio terminando el municipio esta
                obra, administrada por el Pbro. GERSAIN MARIN M, quien construyó por cuenta del Departamento el comedor;
                Sor MARIA LUISA PAZ embaldosó la capilla; Sor SAMBEL dotó al establecimiento de un armonio enviado desde
                Francia por sus familiares. Dependiente de la misma institución funcionó durante varios años una escuela
                de tejidos que dio magníficos resultados, suspendida por falta de auxilios. También establecieron una
                fábrica de costales que también dio buenos resultados. <br> <br>
                Con el paso del tiempo la institución fue creciendo en personal por lo cual tuvo que ir retomando
                algunos lugares que no estaban habilitados como salones de clase, las hermanas se trasladan a otro sitio
                y el colegio adapta los lugares que tenía la Comunidad Vicentina como vivienda. En el año 1999 se abrió
                el grado Sexto de Educación Básica Secundaria teniendo como Rectora a Sor Luz Elena Ríos F. en octubre
                de 2002 mediante Resolución 2031 recibe el Reconocimiento Oficial como Institución Educativa que ofrece
                los niveles desde preescolar hasta Básica Secundaria (grado Noveno); en abril de 2003 llega la nueva
                Rectora Sor Luz Marina Castro González, en noviembre y diciembre se reconstruye la unidad sanitaria de
                la Primaria con aportes del municipio y préstamo de la Comunidad Vicentina; se inician los procesos para
                que la Institución pueda ofertar la Educación Media, queda como Institución Educativa sin ninguna
                escuela anexa según Resolución 0434 de abril 26 de 2004 emanada de la Secretaría de Educación del
                Departamento. El año 2005 abre el grado Décimo con permiso previo de la Secretaría de Educación, el 2 de
                febrero de 2006 recibe la Resolución 0148 donde se adiciona al parágrafo del Artículo Tercero de la
                Resolución Nro. 0434 del 26 de abril de 2004, “que la Institución Educativa Sagrada Familia del
                Municipio de Caloto (Cauca), ofrecerá el servicio educativo en los niveles de preescolar, Básica
                Primaria, Básica Secundaria y Media Técnica”. <br> <br>
                Cabe anotar que la Institución desde que abrió el grado Décimo en enero de 2005 inició el proceso de
                articulación con el Sena en el área de Comercio razón por la cual en noviembre del mismo año previo
                lleno de los requisitos exigidos por el Sena, se matricularon las estudiantes de grado décimo y undécimo
                en dicha entidad, en noviembre del mismo año se inicia el proceso de capacitación de los docentes del
                área de comercio y se empezaron a practicar pruebas piloto con las estudiantes matriculadas en el 2006.
                Como el requisito son dos años de estudio con el Sena, la primera promoción de estudiantes no recibirá
                el Certificado de Aptitud Profesional del Sena, por cuanto por tiempo no alcanzaron, se espera que las
                estudiantes de décimo que en el año 2007 estarán en el último grado de la Media logren alcanzar este
                certificado. <br> <br>
                A nivel Administrativo el colegio se ha ampliado, se recibieron 20 computadores de COMPUTADORES PARA
                EDUCAR y se construyó la tienda escolar en un espacio al lado de la unidad sanitaria de bachillerato, se
                adecuó el laboratorio de física-química, de igual forma se inicia la construcción de los cuatro salones
                de clase con ayuda de la Alcaldía Municipal en la persona del Señor Doctor Carlos Alberto Torres Luna.
            </p>

        </mat-card-content>

    </mat-card>










</div>